body {
    
    background-image: url("./monkey_guitar.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.guitarstrings {
   display: flex;
   flex-direction: column;
   width: 250px;
   padding: 60px;
   grid-gap: 10px;
   position: absolute;
   top: 300px;
   right: 0;
}
.button {
    border: 5px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(173, 167, 167);

}
.button:hover {
    background-color: green;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .guitarstrings {
        width: 175px;
        top: 250px;
        
    }
}
@media only screen and (max-width: 600px) {
    .guitarstrings {
        width:100px;
        margin-right: -30px;
        top: 325px;
    }
}

@media only screen and (max-height: 600px) {
    .guitarstrings {
        top: 0;
    }
}
